{% extends 'base.html'%}
{% block conteudo %}

<section class="content-header" >
        <h1>
          Estados dos Egos
  
          <small>Version 0.1</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href=""><i class="fa fa-dashboard"></i> </a></li>
        </ol>
  
      
      </section>
<div class="container">
<form method="POST">
    
    {% csrf_token %}
    <div class="row">
        
            <div class="col-md-6">
              <!-- Horizontal Form -->
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">  </h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form_group">

                                <h4> <p> 26) É Rigoroso com os fracassos e defeitos alheios?</p> </h4>
                                 
                                <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>Muito raramente </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                     <p> As vezes </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>  Frequentemente </p>
                                    </font></font></label>
                                    <div>
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p> sempre</p>
                                    </font></font></label>
                                    </div>
                                </div>
                              </form>
                              <form class="form-horizontal">
                  
                                <h4> <p> 27) Costumeiramente expressa-se dizendo: "Devo fazer"? </p> </h4>
                                 
                                <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>Muito raramente </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                     <p> As vezes </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>  Frequentemente </p>
                                    </font></font></label>
                                    <div>
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p> sempre</p>
                                    </font></font></label>
                                    </div>
                                </div>
                              </form>
                  
                              <form class="form-horizontal">
                  
                                <h4> <p> 28) Cumpre rigorosamente os regulamentos?</p> </h4>
                                 
                                <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>Muito raramente </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                     <p> As vezes </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>  Frequentemente </p>
                                    </font></font></label>
                                    <div>
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p> sempre</p>
                                    </font></font></label>
                                    </div>
                                </div>
                              </form>
                  
                              <form class="form-horizontal">
                  
                                <h4> <p> 29) Age sempre em busca do ideal?</p> </h4>
                                 
                                <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>Muito raramente </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                     <p> As vezes </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>  Frequentemente </p>
                                    </font></font></label>
                                    <div>
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p> sempre</p>
                                    </font></font></label>
                                    </div>
                                </div>
                              </form>
                  
                              <form class="form-horizontal">
                  
                                <h4> <p> 30) Expressa com clareza e firmeza sua opinião pessoal</p> </h4>
                                 
                                <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>Muito raramente </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                     <p> As vezes </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>  Frequentemente </p>
                                    </font></font></label>
                                    <div>
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p> sempre</p>
                                    </font></font></label>
                                    </div>
                                </div>
                              </form>
                  
                              <!-- final pai critico -->
                  
                  
                              <!-- inicio cricanca livre -->
                              <form class="form-horizontal">
                  
                                <h4> <p> 31) É espontâneo e livre </p> </h4>
                                 
                                <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>Muito raramente </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                     <p> As vezes </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>  Frequentemente </p>
                                    </font></font></label>
                                    <div>
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p> sempre</p>
                                    </font></font></label>
                                    </div>
                                </div>
                              </form>
                  
                              <form class="form-horizontal">
                  
                                <h4> <p> 32) Expressa logo os sentimentos na fisionomia</p> </h4>
                                 
                                <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>Muito raramente </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                     <p> As vezes </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>  Frequentemente </p>
                                    </font></font></label>
                                    <div>
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p> sempre</p>
                                    </font></font></label>
                                    </div>
                                </div>
                              </form>
                  
                  
                              <form class="form-horizontal">
                  
                                <h4> <p> 33) Manifesta Expressões de espanto "não diga!"? </p> </h4>
                                 
                                <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>Muito raramente </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                     <p> As vezes </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>  Frequentemente </p>
                                    </font></font></label>
                                    <div>
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p> sempre</p>
                                    </font></font></label>
                                    </div>
                                </div>
                              </form>
                  
                  
                  
                              <form class="form-horizontal">
                  
                                <h4> <p> 34) Tem dificuldades em ficar quieto e parado?  </p> </h4>
                                 
                                <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>Muito raramente </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                     <p> As vezes </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>  Frequentemente </p>
                                    </font></font></label>
                                    <div>
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p> sempre</p>
                                    </font></font></label>
                                    </div>
                                </div>
                              </form>
                  
                              <form class="form-horizontal">
                  
                                <h4> <p> 35) Fala sem cerimônia sobre o que pensa?</p> </h4>
                                 
                                <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>Muito raramente </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                     <p> As vezes </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>  Frequentemente </p>
                                    </font></font></label>
                                    <div>
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p> sempre</p>
                                    </font></font></label>
                                    </div>
                                </div>
                              </form>
                              <!-- final Adulto -->
                  
                  
                              <!-- inicio Pai Nutritivo -->
                  
                              <form class="form-horizontal">
                  
                                <h4> <p> 36) É egoísta? </p> </h4>
                                 
                                <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>Muito raramente </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                     <p> As vezes </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>  Frequentemente </p>
                                    </font></font></label>
                                    <div>
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p> sempre</p>
                                    </font></font></label>
                                    </div>
                                </div>
                              </form>
                  
                              <form class="form-horizontal">
                  
                                <h4> <p> 37)  É extremamente curioso</p> </h4>
                                 
                                <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>Muito raramente </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                     <p> As vezes </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>  Frequentemente </p>
                                    </font></font></label>
                                    <div>
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p> sempre</p>
                                    </font></font></label>
                                    </div>
                                </div>
                              </form>
                  
                              <form class="form-horizontal">
                  
                                <h4> <p> 38) É indiferente a assuntos alheios? </p> </h4>
                                 
                                <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>Muito raramente </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                     <p> As vezes </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>  Frequentemente </p>
                                    </font></font></label>
                                    <div>
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p> sempre</p>
                                    </font></font></label>
                                    </div>
                                </div>
                              </form>
                              <form class="form-horizontal">
                  
                                <h4> <p> 39) Decide pela intuição em lugar da razão</p> </h4>
                                 
                                <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>Muito raramente </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                     <p> As vezes </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>  Frequentemente </p>
                                    </font></font></label>
                                    <div>
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p> sempre</p>
                                    </font></font></label>
                                    </div>
                                </div>
                              </form>
                  
                              <form class="form-horizontal">
                  
                                <h4> <p> 40) é obstinado em relação aos seus desejos </p> </h4>
                                 
                                <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>Muito raramente </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                     <p> As vezes </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>  Frequentemente </p>
                                    </font></font></label>
                                    <div>
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p> sempre</p>
                                    </font></font></label>
                                    </div>
                                </div>
                              </form>
                              <!-- fim criança livre -->
                  
                              <!-- inicio criança submissa -->
                              <form class="form-horizontal">
                  
                                <h4> <p> 41) Procura harmonizar - se com os que o cercam?  </p> </h4>
                                 
                                <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>Muito raramente </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                     <p> As vezes </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>  Frequentemente </p>
                                    </font></font></label>
                                    <div>
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p> sempre</p>
                                    </font></font></label>
                                    </div>
                                </div>
                              </form>
                  
                              <form class="form-horizontal">
                  
                                <h4> <p> 42) É ceremonioso e retraído </p> </h4>
                                 
                                <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>Muito raramente </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                     <p> As vezes </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>  Frequentemente </p>
                                    </font></font></label>
                                    <div>
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p> sempre</p>
                                    </font></font></label>
                                    </div>
                                </div>
                              </form>
                              <form class="form-horizontal">
                  
                                <h4> <p> 43) Protela as decisões referentes às questões desagradáveis</p> </h4>
                                 
                                <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>Muito raramente </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                     <p> As vezes </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>  Frequentemente </p>
                                    </font></font></label>
                                    <div>
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p> sempre</p>
                                    </font></font></label>
                                    </div>
                                </div>
                              </form>
                  
                              <form class="form-horizontal">
                  
                                <h4> <p> 44) Vive se queixando e se lamentando </p> </h4>
                                 
                                <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>Muito raramente </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                     <p> As vezes </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>  Frequentemente </p>
                                    </font></font></label>
                                    <div>
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p> sempre</p>
                                    </font></font></label>
                                    </div>
                                </div>
                              </form>
                  
                              <form class="form-horizontal">
                  
                                <h4> <p> 45) Examina a reação alheia </p> </h4>
                                 
                                <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>Muito raramente </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                     <p> As vezes </p>
                                    </font></font></label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p>  Frequentemente </p>
                                    </font></font></label>
                                    <div>
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      <p> sempre</p>
                                    </font></font></label>
                                    </div>
                                </div>
                              </form>
                                        
                                        <form class="form-horizontal">
                  
                                          <h4> <p> 46) É do tipo que não consegue dizer o que pensa?</p> </h4>
                                           
                                          <div class="radio">
                                              <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                                <p>Muito raramente </p>
                                              </font></font></label>
                                            </div>
                                            <div class="radio">
                                              <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                               <p> As vezes </p>
                                              </font></font></label>
                                            </div>
                                            <div class="radio">
                                              <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                                <p>  Frequentemente </p>
                                              </font></font></label>
                                              <div>
                                              <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                                <p> sempre</p>
                                              </font></font></label>
                                              </div>
                                          </div>
                                        </form>
                  
                                        <form class="form-horizontal">
                  
                                          <h4> <p> 47) Sempre arranja boas desculpas? </p> </h4>
                                           
                                          <div class="radio">
                                              <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                                <p>Muito raramente </p>
                                              </font></font></label>
                                            </div>
                                            <div class="radio">
                                              <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                               <p> As vezes </p>
                                              </font></font></label>
                                            </div>
                                            <div class="radio">
                                              <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                                <p>  Frequentemente </p>
                                              </font></font></label>
                                              <div>
                                              <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                                <p> sempre</p>
                                              </font></font></label>
                                              </div>
                                          </div>
                                        </form>
                  
                                        <form class="form-horizontal">
                  
                                          <h4> <p> 48) Sabe lidar relativamente bem com as pessoas?</p> </h4>
                                           
                                          <div class="radio">
                                              <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                                <p>Muito raramente </p>
                                              </font></font></label>
                                            </div>
                                            <div class="radio">
                                              <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                               <p> As vezes </p>
                                              </font></font></label>
                                            </div>
                                            <div class="radio">
                                              <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                                <p>  Frequentemente </p>
                                              </font></font></label>
                                              <div>
                                              <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                                <p> sempre</p>
                                              </font></font></label>
                                              </div>
                                          </div>
                                        </form>
                  
                                        <form class="form-horizontal">
                  
                                          <h4> <p> 49) Esforça-se para contentar os outros?</p> </h4>
                                           
                                          <div class="radio">
                                              <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                                <p>Muito raramente </p>
                                              </font></font></label>
                                            </div>
                                            <div class="radio">
                                              <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                               <p> As vezes </p>
                                              </font></font></label>
                                            </div>
                                            <div class="radio">
                                              <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                                <p>  Frequentemente </p>
                                              </font></font></label>
                                              <div>
                                              <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                                <p> sempre</p>
                                              </font></font></label>
                                              </div>
                                          </div>
                                        </form>
                  
                                        <form class="form-horizontal">
                  
                                          <h4> <p> 50) Diz: "desculpe-me","sinto muito"?</p> </h4>
                                           
                                          <div class="radio">
                                              <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                                <p>Muito raramente </p>
                                              </font></font></label>
                                            </div>
                                            <div class="radio">
                                              <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                               <p> As vezes </p>
                                              </font></font></label>
                                            </div>
                                            <div class="radio">
                                              <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                                <p>  Frequentemente </p>
                                              </font></font></label>
                                              <div>
                                              <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                                <p> sempre</p>
                                              </font></font></label>
                                              </div>
                                          </div>
                                        </form>
                  


                  
                
    
    
              </div>
              {% for pergunta in questionario %}
              <div class="card mb-3">
                    <div class ="card-header">
                      {{pergunta.pergunta}} 
                    </div>
                    <div class = "card-body">
                        <h5 class="card-title">{{pergunta.tipo}}</h5>
                        <p class="card-text">{{pergunta.get_tipo_display}}</p>
                        <a href="editar_tarefa/{{x.id}}">Alterar</a>
                        <a href="remover_tarefa/{{x.id}}">Remover</a>
                       
                    </div>
                {% endfor %}
                </div>


    <div class = "form_group">
            <input type = "submit" value = "salvar">
    </div>
 
</form>

<section class="content" >

        <ul class="pagination" style="justify-content: center"> 
            <li class="page-item"><a class="page-link" href="ego">1</a></li>
          </ul> 
    
    </section>


</div>
{% endblock conteudo%}